<input type="text" ng-model="search" class="search-query" placeholder="Search">
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Item</th>
            <th><a href="#/new"><i class="icon-plus-sign">new</i></a></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="inventoryItem in inventoryItems | filter:search | orderBy:'name'">
            <td>{{inventoryItem.id}}</td>            
            <td><a href="#/edit/{{inventoryItem.id}}">{{inventoryItem.name}}</a></td>
            <td>
                <a href="#/edit/{{inventoryItem.id}}"><i class="icon-pencil"></i></a>
            </td>
        </tr>
    </tbody>
</table>
